<footer>
	<div class="col">
		<h3>Go ahead and</h3>

		<ul>
		    <li>
					<!-- <a class="github-button" href="https://github.com/vesperin/stircup/fork" 					data-icon="octicon-repo-forked" data-size="large" data-show-count="true"
					aria-label="Fork vesperin/stircup on GitHub">Fork me</a> -->
				</li>         
		</ul>
	</div>		
	
  <div class="col">
      <h3>Or Just</h3>

      <ul>
      	<li>
					<!-- <a class="github-button" href="https://github.com/vesperin/stircup" 					data-icon="octicon-star" data-size="large" data-show-count="true"
					aria-label="Star vesperin/stircup on GitHub">Star me</a>   	 -->	
      	</li>
      </ul>
  </div>
	
  <div class="col">
      <h3>Otherwise..</h3>
      <ul>
      	<li>
					<!-- <a class="github-button" href="https://github.com/vesperin" data-size="large" 					data-show-count="true" aria-label="Follow @vesperin on GitHub">Follow</a>		 -->
      	</li>
      </ul>
  </div>	
	
  <div class="col">
      <h3>Or Simply</h3>
      <ul>
      	<li>
					<!-- <a class="github-button" href="https://github.com/vesperin/stircup/issues" 					data-icon="octicon-issue-opened" data-size="large" data-show-count="true" 					aria-label="Issue vesperin/stircup on GitHub">See Issues</a>	 -->	
      	</li>
      </ul>	

  </div>		
	
	<center><p>Copyright (c) 2017 Huascar A. Sanchez</p></center>
			
</footer>